body{
	margin: 0;
	padding: 0;
}

.c-k{
	width: 100%;
	height: 500px;
	background-color: red;
}

.c-marign0{
	margin: 0!important;
}

.c-padding0{
	padding: 0!important;
}

.c-main{
	/*background-color: grey;*/
	width: 100%;
	height: 2000px;
}

.c-bir{
	width: 100%;
	height: 673.83px;
	/*background-color: lightgrey;*/
	padding-top: 90px;
	padding-bottom: 100px;
}
.c-bir-in{
	height: 480px;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: red;*/
	padding: 20px;

}

.c-img{
	width: 100%;
	height: 220px;
	/*background-color: black;*/
}

.c-soz{
	padding-top: 60px;
	/*background-color: red; */
}

.c-bir-basliq{
	color: #353535;
	font-family: inherit;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 20px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; 
}

.c-xett{
	width: 35px;
	height: 4px;
	margin-left: auto;
	margin-right: auto;
	background-color: #3dc9b3;
	margin-bottom: 25px;
	margin-top: 23px;
}

.c-bir-content{
	color: #8c9398;
    word-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.7;
    text-align: center;
    /*font-family: sans-serif!important;*/
}

.c-buttons{
	background-color: red;
	width: 60px;
	min-height: 50px;
	margin: 0 auto;
}



.c-iki{
	width: 100%;
	height: 210px;
	background-color: black;
	display: inline-block;
	background-color: #242830;
}

.c-iki-button{
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
	height: 75px;
	width: 200px;
	background-color: #242830;
	/*background-color: red;*/
	border-width: 2px;
	border-color: white;
	border-style: solid;
	text-align: center;
	padding-top: 18px;
	color: white;
	font-weight: bold;
}

